<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSV to Table!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <textarea id="csvInput" name="name" rows="8" cols="80">A,B,C,D,E,F,G</textarea>
    <select id="numColumns" class="" name=""></select>
    <button id="genTableButton" type="button" name="button" onclick="genTable()">Generate Table!</button>
    <table>

    </table>
    <div id="errorMessage" class="error">

    </div>
    <div id="links">
      Written by Benjamin Zagorski.
      <br>
      Click <a href="https://github.com/MrMicrowaveOven/CsvToColumnTable" target="_blank"> here</a> for the github repo, or <a href="http://benj.zagorski.com" target="_blank"> here</a> for a look at the rest of my portfolio.
    </div>
    <script type="text/javascript">
      $(function() {
        for (var i = 2; i <= 10; i++) {
          if (i == 3) {
            $("#numColumns").append("<option value=" + i + " selected>" + i + " Columns</option>")
          } else {
            $("#numColumns").append("<option value=" + i + ">" + i + " Columns</option>")
          }
        }

        $("#csvInput").on("input", function(e) {
          $("#errorMessage").html("")
          var textInInput = e.target.value;
          if (textInInput == "") {
            $("#genTableButton").prop("disabled", true)
          } else if (textInInput.split(",").length > 100) {
            $("#genTableButton").prop("disabled", true)
          } else {
            $("#genTableButton").prop("disabled", false)
          }
        })
      })

      function genTable() {
        var csv = $("#csvInput").val();
        var numColumns = $("#numColumns").val();
        $.post({
          data:{
            csv: csv,
            numColumns: numColumns
          },
          url: "/tables",
          datatype: "json",
          error: function() {
            console.log("Error");
          },
          success: function(res) {
            console.log("Success y'all! ");
            showTable(res)
          }
        })
      }
      function showTable(tableSpecs) {
        $("table").html("")
        if (tableSpecs.length == 0) {
          $("#errorMessage").html("Input error")
          return
        }
        $("table").append("<tr id='columnHeader'></tr>")
        for (var i = 1; i <= tableSpecs[0].length; i++) {
          $("#columnHeader").append("<th>" + i + "</th>")
        }
        tableSpecs.forEach(function(row, row_index) {
          $("table").append("<tr id=row" + row_index + "></tr>")
          row.forEach(function(cell) {
            if (cell) {
              $("#row" + row_index).append("<td>" + cell + "</td>")
            } else {
              $("#row" + row_index).append("<td></td>")
            }
          })
        })
      }
    </script>
  </body>
</html>
